#assignment_header {
  width:100%;
  height:20%;
  float: left;
  font-size: 4em;
  color: white;
  background-color: #4444FF;

}

#help_button {
  display: inline;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
  color: #4444FF;
}


body {
    margin: 30px;
    padding: 30px;
    height: 100%;
}
