/*
    books.css
    Ritvik Kar, Estelle Bayer, Anna Johnson, 27 April 2017

    Styles for the "colleges" webapp sample
    for CS 257, Spring 2017.
*/

@import url('jeff-course-styles.css');

table {
    border-collapse: collapse;
}

#assignment_header {
  width:100%;
  height:20%;
  float: left;
  font-size: 4em;
  color: white;
  background-color: #4444FF;

}

#help_button {
  display: inline;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
  color: black;
}


#assignment_content {
  width: 100%;
  height: 80%;
  float: left;
  color: black;
  text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

body {
    margin: 30px;
    padding: 30px;
    height: 100%;
    overflow-y: scroll;
}
